[Desktop Entry]
Name=Swatches
GenericName=com.github.keyilan.swatches
Comment=Colour variation helper
Comment[lt]=Spalvų variantų pagelbiklis
Categories=Development;Graphics;
Exec=com.github.keyilan.swatches
Icon=com.github.keyilan.swatches
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.keyilan.swatches
X-GNOME-UsesNotifications=true
Keywords=design;color;colour;palette;swatch;
Actions=About;

[Desktop Action About]
Exec=Swatches --about
Name=About Swatches
Name[lt]=Apie Swatches
